[Your first domain]
record_line = 默认
format = json
sub_domain = Your sub domain
login_token = token_id,token_token
record_id = Your record id, use id_finder if don't know
domain_id = Your domain id, use id_finder if don't know

;[Your second domain]
;Exactly same format from above
